{% extends 'layouts/nav.html' %}
{% block title %} Login {% endblock %}
{% load static %}  
{% block content%}
<div class="col-xl-4 col-lg-5 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
        <div class="card-body p-4">
            <div class="text-center mb-4 mt-2">
                <!-- <img class="_logo" src="{% static 'project/logo_05.png' %}" alt="Diego Bonatti"> -->
                 <h3>Solicita tu Token</h3>
            </div>

            {% if msg %}
            <div class="alert alert-danger">
                <p>{{ msg }}</p>
            </div>
            
            {% else %}
            
            <form class="form-body row g-3"  method="POST">
                
              
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    {% for field in form %}
                        <div class="col-12">
                            <label class="form-label">{{ field.label_tag }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <span class="alert alert-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}

                
                <div class="col-12 col-lg-12">
                    <div class="d-grid m-2">
                        <button type="submit" class="btn btn-primary">Envio de Correo</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{% url 'users_clients:documents_clients'%}" class="btn btn-primary">Retornar</a>
                </div>
            </div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock%}