{% load static %}
<!Doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diego Bonatti - {% block title %} {% endblock %} </title>
    <link rel="icon" href="{% static 'dashboard/img/logo.ico'%}">

    <!-- loader-->
    <link href="{% static 'dashboard/css/pace.min.css' %}" rel="stylesheet" />
    <script src="{% static 'dashboard/js/pace.min.js' %}"></script>

    <!--plugins-->
    <link href="{% static 'dashboard/css/simplebar.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/css/perfect-scrollbar.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/css/metisMenu.min.css' %}" rel="stylesheet" />

    <!-- DataTables -->
    <link href="{% static 'dashboard/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/bootstrap-extended.css' %}" rel="stylesheet">

    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'dashboard/css/select2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/select2-bootstrap-5.css' %}" />

    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/fancy-file.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/icons.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!--Theme Styles-->
    <link href="{% static 'dashboard/css/dark-theme.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/css/semi-dark.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/css/header-colors.css' %}" rel="stylesheet" />



    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{% static 'dashboard/css/sweetalert2.min.css' %}">
</head>

<body>


    <!--start wrapper-->
    <div class="wrapper">

        <!--start sidebar -->
        <aside class="sidebar-wrapper" data-simplebar="true">
            <div class="pt-4 pe-2 ps-3 pb-0 text-center">
                <!-- <h4 class="logo-text">Grupo Inkillay</h4> -->
                <a  href="{% url 'accounts:dashboard' %}">
                    <img src="{% static 'project/logo_05.png' %}" class="logo" alt="logo Diego Bonatti">
                </a>
            </div>

            <!--navigation-->
            <ul class="metismenu" id="menu">
                <li>
                    <a class="encabezado" href="{% url 'accounts:dashboard' %}">
                        <div class="parent-icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </div>
                        <div class="menu-title ">Dashboard</div>
                    </a>
                </li>

                <li class="menu-label ">Elementos</li>
                <li>
                    <a class="has-arrow" href="#">
                        <div class="parent-icon">
                            <ion-icon name="briefcase-outline"></ion-icon>
                        </div>
                        <div class="menu-title">Clientes</div>
                    </a>
                    <ul>
                        <li> <a href="{% url 'users_clients:listar_usuario' %}">
                                <ion-icon name="ellipse-outline"></ion-icon>Listar Clientes
                            </a>
                        </li>
                        <li> <a href="{% url 'users_clients:crear_usuario' %}">
                                <ion-icon name="ellipse-outline"></ion-icon>Agregar Cliente
                            </a>
                        </li>
                    </ul>
                </li>
                <hr>

                <li>
                    <a class="has-arrow" href="#">
                        <div class="parent-icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </div>
                        <div class="menu-title">Reportes</div>
                    </a>
                    <ul>
                        <li>
                            <a href="{% url 'users_clients:consultas_clientes' %}">
                                <ion-icon name="ellipse-outline"></ion-icon>Listar Consultas
                            </a>
                        </li>
                    </ul>
                </li>
                <hr>
                <li>
                    <a class="has-arrow" href="#">
                        <div class="parent-icon">
                            <ion-icon name="receipt-outline"></ion-icon>
                        </div>
                        <div class="menu-title">Api</div>
                    </a>
                    <ul>
                        <li>
                            <a href="{% url 'users_clients:documents' %}">
                                <ion-icon name="ellipse-outline"></ion-icon>Documentación
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
            <!--end navigation-->
        </aside>
        <!--end sidebar -->

        <!--start top header-->
        <header class="top-header">
            <nav class="navbar navbar-expand gap-3">
                <div class="toggle-icon">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <form class="searchbar">
                    <div class="position-absolute top-50 translate-middle-y search-icon ms-3">
                        <ion-icon name="search-outline"></ion-icon>
                    </div>
                    <input class="form-control" type="text" placeholder="Search for anything">
                    <div class="position-absolute top-50 translate-middle-y search-close-icon">
                        <ion-icon name="close-outline"></ion-icon>
                    </div>
                </form>
                <div class="top-navbar-right ms-auto">

                    <ul class="navbar-nav align-items-center">
                        <div class="nav-perfil me-3">
                            {{ user.first_name }} {{ user.last_name }} -
                            {% for group in user.groups.all %}
                            {{ group.name|upper }}
                            {% endfor %}
                        </div>
                        <li class="nav-item dropdown dropdown-user-setting">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"
                                data-bs-toggle="dropdown">
                                <div class="user-setting">
                                    <img src="{% static 'dashboard/img/usuarios/avatar.png' %}" class="user-img" alt="">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="javascript:;">
                                        <div class="d-flex flex-row align-items-center gap-2">
                                            <img src="{% static 'dashboard/img/usuarios/avatar.png' %}" alt=""
                                                class="rounded-circle" width="54" height="54">
                                            <div class="">
                                                <h6 class="mb-0 dropdown-user-name">
                                                    {{ user.last_name }}</h6>
                                                <small class="mb-0 dropdown-user-designation text-secondary">
                                                    {% for group in user.groups.all %}
                                                    {{ group.name }}
                                                    {% endfor %}
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{% url 'users_clients:datos_perfil' %}">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <ion-icon name="person-outline"></ion-icon>
                                            </div>
                                            <div class="ms-3"><span>Perfil</span></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users_clients:datos_pass' %}">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <ion-icon name="person-outline"></ion-icon>
                                            </div>
                                            <div class="ms-3"><span>Editar Contraseña</span></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'accounts:logout' %}" class="dropdown-item">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <ion-icon name="log-out-outline"></ion-icon>
                                            </div>
                                            <div class="ms-3"><span>Cerrar sesión</span></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </nav>
        </header>
        <!--end top header-->

        <div class="page-content-wrapper">
            <!-- start page content-->
            <div class="page-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!--start footer-->

        {% include 'includes/footer.html'%}
        <!--end footer-->


        <!--Start Back To Top Button-->
        <a href="javaScript:;" class="back-to-top">
            <ion-icon name="arrow-up-outline"></ion-icon>
        </a>
        <!--End Back To Top Button-->

        <!--start overlay-->
        <div class="overlay nav-toggle-icon"></div>
        <!--end overlay-->

    </div>
    <!--end wrapper-->



    <!-- SweetAlert2 -->
    <script src="{% static 'dashboard/js/sweetalert2.min.js' %}"></script>

    <!-- JS Files-->
    <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/simplebar.min.js' %}"></script>
    <script src="{% static 'dashboard/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <!-- Main JS-->
    <script src="{% static 'dashboard/js/main.js' %}"></script>

    {% block javaScript %}
    {% endblock %}