<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Otras configuraciones -->

    <system.webServer>
        <handlers>
            <!-- Handlers existentes -->
        </handlers>

        <rewrite>
            <rules>
                <!-- Primera regla -->
                <rule name="Rewrite to index.php">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?url={R:1}" />
                </rule>

                <!-- Segunda regla con un nombre diferente -->
                <rule name="AllowStaticFiles" stopProcessing="true">
                    <match url="^assets/img/usuarios/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>


